In [2]:
import numpy as np
import pandas as pd

In [19]:
def load_csv(filename, skip_rows):
    df = pd.read_csv(filename, skiprows=skip_rows, header=0)
    df.drop(df.columns[0], axis=1, inplace=True)
    return df

def calculate_avg(df):
    df_even = df.iloc[:, ::2]
    display(df_even)
    even_row_avg = df_even.iloc[0].mean()
    print('AVG Cumulative Profit of retailer 0:', even_row_avg)
    
    df_odd = df.iloc[:, 1::2]
    display(df_odd)
    odd_row_avg = df_odd.iloc[0].mean()
    print('AVG Cumulative Profit of retailer 1:', odd_row_avg)

In [10]:
df_all = load_csv("cumulative_profit.csv", 29)
df_all

,[ cumulative-profit ] of retailer 0,[ cumulative-profit ] of retailer 1,[ cumulative-profit ] of retailer 0.1,[ cumulative-profit ] of retailer 1.1
0,0.000000,0.000000,0.000000,0.000000
1,165.000000,135.000000,150.000000,150.000000
2,165.000000,135.000000,150.000000,150.000000
3,378.518095,283.673422,408.681592,393.420067
4,378.518095,283.673422,408.681592,393.420067
...,...,...,...,...
395,384795.868032,369483.978151,923108.230199,930801.097726
396,384795.868032,369483.978151,923108.230199,930801.097726
397,388365.212713,373389.909604,931287.903307,938970.399308
398,388365.212713,373389.909604,931287.903307,938970.399308
399,391905.593428,377408.704622,939543.679070,947245.696578

In [12]:
df_finals = load_csv("cumulative_profit_finals_only.csv", 24)
df_finals

,[ cumulative-profit ] of retailer 0,[ cumulative-profit ] of retailer 1,[ cumulative-profit ] of retailer 0.1,[ cumulative-profit ] of retailer 1.1,[ cumulative-profit ] of retailer 0.2,[ cumulative-profit ] of retailer 1.2,[ cumulative-profit ] of retailer 0.3,[ cumulative-profit ] of retailer 1.3
0,498374.926885,493840.340981,564684.767613,573752.278963,228386.394285,282808.871884,422548.855461,456830.661288

In [20]:
calculate_avg(df_finals)

,[ cumulative-profit ] of retailer 0,[ cumulative-profit ] of retailer 0.1,[ cumulative-profit ] of retailer 0.2,[ cumulative-profit ] of retailer 0.3
0,498374.926885,564684.767613,228386.394285,422548.855461

AVG Cumulative Profit of retailer 0: 428498.73606098036

,[ cumulative-profit ] of retailer 1,[ cumulative-profit ] of retailer 1.1,[ cumulative-profit ] of retailer 1.2,[ cumulative-profit ] of retailer 1.3
0,493840.340981,573752.278963,282808.871884,456830.661288

AVG Cumulative Profit of retailer 1: 451808.0382791974