In [5]:
import numpy as np
import pandas as pd
import os

# Load Data + Calculate Payoffs

In [21]:
def load_csv(filename, skip_rows):
    df = pd.read_csv(filename, skiprows=skip_rows, header=0)
    df.drop(df.columns[0], axis=1, inplace=True)
    return df


def calculate_avg(df):  # prints dataframe to check
    df_even = df.iloc[:, 0::6]
    display(df_even)
    even_row_avg = df_even.iloc[-1].mean()
    print('AVG Cumulative Profit of retailer 0:', even_row_avg)

    df_odd = df.iloc[:, 3::6]
    display(df_odd)
    odd_row_avg = df_odd.iloc[-1].mean()
    print('AVG Cumulative Profit of retailer 1:', odd_row_avg)


def calculate_payoffs(df):
    retailer_0 = df.iloc[:, 0::6]
    retailer_0_payoff = round(retailer_0.iloc[-1].mean(), 2)

    retailer_1 = df.iloc[:, 3::6]
    retailer_1_payoff = round(retailer_1.iloc[-1].mean(), 2)
    return (retailer_0_payoff, retailer_1_payoff)


def get_column_dominant(lst):
    payoffs = [eval(s)[1] for s in lst]
    max_payoff = max(payoffs)
    dominant_index = payoffs.index(max_payoff)
    opponent_payoff = lst[dominant_index].strip('[').split(',')[0]
    dominant_str = f'[{opponent_payoff}, {max_payoff}*]'
    return (dominant_index, dominant_str)


def get_row_dominant(lst):
    payoffs = [float(s.strip('[').split(',')[0]) for s in lst]
    max_payoff = max(payoffs)
    dominant_index = payoffs.index(max_payoff)
    opponent_payoff = lst[dominant_index].strip(']').split(', ')[1]
    dominnant_str = f'[{max_payoff}*, {opponent_payoff}]'
    return (dominant_index, dominnant_str)


def construct_payoff_table(file_str):
    columns = ['S1', 'S2', 'S3', 'S4', 'S5', 'S6']
    payoffs = [['x' for y in range(6)] for x in range(6)]

    # generate payoff table
    for i in range(1, len(payoffs) + 1):
        for j in range(1, len(payoffs) + 1):
            filename = f'./experiment_data/S{i}_S{j}{file_str}.csv'
            if os.path.isfile(filename):
                df = load_csv(filename, 34)
                payoff = calculate_payoffs(df)
                payoff_str = f'[{payoff[0]}, {payoff[1]}]'
                payoffs[i - 1][j - 1] = payoff_str

    # mark dominant strategies in retailer 1's perspective
    for i in range(0, len(payoffs)):
        cur_row = payoffs[i]
        (dominant_index, dominant_str) = get_column_dominant(cur_row)
        payoffs[i][dominant_index] = dominant_str

    # mark dominant strategies in retailer 0's perspective
    for i in range(0, len(payoffs)):
        cur_column = [row[i] for row in payoffs]
        (dominant_index, dominant_str) = get_row_dominant(cur_column)
        payoffs[dominant_index][i] = dominant_str

    # convert to dataframe
    table = pd.DataFrame(payoffs, columns=columns)
    table = table.rename(index={0: 'S1', 1: 'S2', 2: 'S3', 3: 'S4', 4: 'S5', 5: 'S6'})
    display(table)

# Payoff table of Distance weight=2

In [22]:
construct_payoff_table('_D_2')

,S1,S2,S3,S4,S5,S6
S1,"[170076.55, 169609.95]","[174972.8, 157434.45]","[176617.4, 67761.25]","[126532.95, 200617.25*]","[170062.1, 124848.5]","[134543.45, 153661.0]"
S2,"[255071.85*, 218195.6]","[251929.4*, 198614.6]","[195424.6, 209184.75]","[146259.05, 263984.75*]","[120770.2, 217158.5]","[178521.7*, 161546.5]"
S3,"[203851.0, 245549.3*]","[221748.5, 225073.65]","[222414.75, 212254.75]","[112437.5, 197509.0]","[146002.0, 221311.5]","[116860.0, 156180.0]"
S4,"[213600.5, 220774.05]","[208572.25, 143664.4]","[151489.25, 183827.25]","[54211.75, 90659.25]","[110831.75, 245938.0*]","[103770.0, 217947.0]"
S5,"[253297.5, 227743.45*]","[187853.0, 146883.45]","[212173.0, 112123.0]","[189557.5*, 158226.75]","[194972.0*, 207980.0]","[154775.5, 145301.0]"
S6,"[242708.0, 218732.15]","[249522.0, 110545.8]","[252881.0*, 186723.5]","[85083.0, 173039.75]","[182175.0, 158762.0]","[158474.5, 224175.5*]"

# Payoff table of Distance weight=6

In [24]:
construct_payoff_table('_D_6')

,S1,S2,S3,S4,S5,S6
S1,"[165935.25, 239982.55*]","[163078.35, 87172.4]","[118432.3, 213032.75]","[142546.45, 151708.75]","[207210.8, 103801.0]","[186765.05, 86191.0]"
S2,"[184528.0, 237434.9]","[209427.65, 226004.35]","[135413.25, 278855.75*]","[142780.75, 207398.75]","[198046.0, 206902.0]","[220266.3, 101028.5]"
S3,"[156060.5, 245467.25*]","[207531.75, 128977.2]","[164664.25, 232509.5]","[138430.0, 215360.0]","[257535.25*, 132004.5]","[196179.25, 179393.0]"
S4,"[257322.0*, 232437.25]","[140765.0, 182477.35]","[122769.5, 256276.25]","[147536.5, 272430.0*]","[222474.5, 168166.0]","[223808.0*, 110126.0]"
S5,"[148265.5, 237601.0*]","[185933.5, 174625.15]","[151114.5, 183856.75]","[221371.5*, 218210.75]","[204981.5, 127694.5]","[173550.5, 220148.0]"
S6,"[216992.5, 219174.45]","[216564.5*, 102183.15]","[225402.0*, 163012.5]","[198682.5, 188745.25]","[225450.0, 126168.5]","[147364.0, 232256.0*]"

# Payoff table of Distance weight=10

In [25]:
construct_payoff_table('_D_10')

,S1,S2,S3,S4,S5,S6
S1,"[124332.6, 242739.4*]","[158469.65, 155428.25]","[157827.25, 97387.0]","[154777.2, 141110.5]","[156963.3, 113959.5]","[183051.9, 67415.0]"
S2,"[117632.55, 268869.0*]","[85221.5, 242141.0]","[213314.05, 121833.5]","[145472.7, 154279.0]","[133302.25, 180142.5]","[187606.25, 164926.5]"
S3,"[157072.5, 263941.45*]","[131194.0, 200874.25]","[289049.75*, 111260.25]","[179623.0, 191708.5]","[200072.5*, 150367.0]","[166179.5, 220288.5]"
S4,"[85718.5, 268471.05*]","[146658.75, 198218.75]","[131096.75, 223929.0]","[281442.5*, 29650.5]","[106435.5, 224417.5]","[165623.0, 176401.5]"
S5,"[171821.0*, 242872.75]","[113384.0, 262540.25*]","[159264.5, 172054.25]","[156490.0, 196934.5]","[158335.5, 227107.5]","[163472.5, 152498.0]"
S6,"[171610.0, 265903.7*]","[256099.5*, 98516.6]","[241354.0, 195345.75]","[200268.0, 155692.5]","[136463.0, 215784.0]","[195443.0*, 150700.5]"