In [1]:
import numpy as np
import pandas as pd
import os

# Load Data + Calculate Payoffs

In [14]:
def load_csv(filename, skip_rows):
    df = pd.read_csv(filename, skiprows=skip_rows, header=0)
    df.drop(df.columns[0], axis=1, inplace=True)
    return df

def calculate_avg(df): # prints dataframe to check
    df_even = df.iloc[:, 0::6]
    display(df_even)
    even_row_avg = df_even.iloc[-1].mean()
    print('AVG Cumulative Profit of retailer 0:', even_row_avg)
    
    df_odd = df.iloc[:, 3::6]
    display(df_odd)
    odd_row_avg = df_odd.iloc[-1].mean()
    print('AVG Cumulative Profit of retailer 1:', odd_row_avg)

def calculate_payoffs(df):
    retailer_0 = df.iloc[:, 0::6]
    retailer_0_payoff = round(retailer_0.iloc[-1].mean(), 2)
    
    retailer_1 = df.iloc[:, 3::6]
    retailer_1_payoff = round(retailer_1.iloc[-1].mean(), 2)
    return (retailer_0_payoff, retailer_1_payoff)

def get_column_dominant(lst):
    payoffs = [eval(s)[1] for s in lst]
    max_payoff = max(payoffs)
    dominant_index = payoffs.index(max_payoff)
    opponent_payoff = lst[dominant_index].strip('[').split(',')[0]
    dominant_str = f'[{opponent_payoff}, {max_payoff}*]'
    return (dominant_index, dominant_str)

def get_row_dominant(lst):
    payoffs = [float(s.strip('[').split(',')[0]) for s in lst]
    max_payoff = max(payoffs)
    dominant_index = payoffs.index(max_payoff)
    opponent_payoff = lst[dominant_index].strip(']').split(', ')[1]
    dominnant_str = f'[{max_payoff}*, {opponent_payoff}]'
    return (dominant_index, dominnant_str)

def construct_payoff_table():
    columns = ['S1', 'S2', 'S3', 'S4', 'S5', 'S6']
    payoffs = [['x' for y in range(6)] for x in range(6)]
    
    # generate payoff table
    for i in range(1, len(payoffs)+1):
        for j in range(1, len(payoffs)+1):
            filename = f'S{i}_S{j}.csv'
            if os.path.isfile(filename):
                df = load_csv(filename, 34)
                payoff =  calculate_payoffs(df)
                payoff_str = f'[{payoff[0]}, {payoff[1]}]'
                payoffs[i-1][j-1] = payoff_str
    
    # mark dominant strategies in retailer 1's perspective
    for i in range(0, len(payoffs)):
        cur_row = payoffs[i]
        (dominant_index, dominant_str) = get_column_dominant(cur_row)
        payoffs[i][dominant_index] = dominant_str
    
    # mark dominant strategies in retailer 0's perspective
    for i in range(0, len(payoffs)):
        cur_column = [row[i] for row in payoffs]
        (dominant_index, dominant_str) = get_row_dominant(cur_column)
        payoffs[dominant_index][i] = dominant_str

    # convert to dataframe
    table = pd.DataFrame(payoffs, columns=columns)
    table = table.rename(index={0: 'S1', 1: 'S2', 2: 'S3', 3: 'S4', 4: 'S5', 5: 'S6'})
    display(table)

In [15]:
construct_payoff_table()

,S1,S2,S3,S4,S5,S6
S1,"[163899.25, 218438.2*]","[172208.25, 155836.95]","[154128.05, 125464.75]","[149678.15, 158246.25]","[133308.05, 139352.5]","[138308.5, 165848.0]"
S2,"[203094.2, 225294.35]","[199878.1*, 213157.6]","[221179.05*, 236639.5*]","[153231.25, 110336.75]","[143159.4, 154322.5]","[171795.3, 109294.5]"
S3,"[203243.5, 255135.25*]","[189831.25, 189783.2]","[172375.5, 125313.75]","[158239.75, 165012.25]","[122261.25, 138513.5]","[137402.25, 179677.0]"
S4,"[238501.0*, 234005.7*]","[197244.5, 208221.55]","[128475.0, 154839.25]","[193387.75*, 188812.5]","[138056.0, 184233.5]","[106482.25, 129839.0]"
S5,"[227993.0, 228952.0*]","[153602.0, 190168.5]","[134782.5, 113733.25]","[173264.0, 199220.75]","[147474.0*, 115707.0]","[220436.5*, 161043.0]"
S6,"[226946.5, 248819.45*]","[130263.0, 140188.1]","[157379.0, 212677.0]","[139099.5, 96224.25]","[110746.0, 130672.0]","[178505.0, 212130.5]"

# S1_S1

In [43]:
S1_S1 = load_csv('S1_S1.csv', 34)
S1_S1

,[ cumulative-profit ] of retailer 0,[ market-share ] of retailer 0,[ price ] of retailer 0,[ cumulative-profit ] of retailer 1,[ market-share ] of retailer 1,[ price ] of retailer 1,[ cumulative-profit ] of retailer 0.1,[ market-share ] of retailer 0.1,[ price ] of retailer 0.1,[ cumulative-profit ] of retailer 1.1,...,[ price ] of retailer 0.2,[ cumulative-profit ] of retailer 1.2,[ market-share ] of retailer 1.2,[ price ] of retailer 1.2,[ cumulative-profit ] of retailer 0.3,[ market-share ] of retailer 0.3,[ price ] of retailer 0.3,[ cumulative-profit ] of retailer 1.3,[ market-share ] of retailer 1.3,[ price ] of retailer 1.3
0,0.0,51,36.0,0.0,29,42.0,0.0,33,36.0,0.0,...,36.0,0.0,36,42.0,0.0,54,36.0,0.0,26,42.0
1,306.0,51,36.2,348.0,29,41.8,198.0,33,35.8,564.0,...,36.2,432.0,36,41.8,324.0,54,36.2,312.0,26,41.8
2,306.0,51,36.2,348.0,29,41.8,198.0,33,35.8,564.0,...,36.2,432.0,37,41.8,324.0,53,36.2,312.0,27,41.8
3,343.2,51,36.2,383.4,29,41.8,302.4,33,35.8,795.8,...,36.2,455.6,37,41.8,448.0,53,36.2,430.0,27,41.8
4,361.8,51,36.2,418.8,29,41.8,389.4,33,35.8,1125.2,...,36.2,479.2,37,41.8,553.4,53,36.2,524.4,27,41.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,149210.8,43,40.2,115489.0,37,35.4,92503.8,40,31.8,415014.4,...,39.4,140972.0,40,38.2,250673.0,42,38.2,200501.2,38,35.4
1996,149323.0,43,40.2,115532.2,37,35.4,92543.4,40,31.8,415258.4,...,39.4,141037.6,40,38.2,250779.6,42,38.2,200566.0,38,35.4
1997,149414.8,43,40.2,115586.2,37,35.4,92575.8,40,31.8,415490.2,...,39.4,141127.8,40,38.2,251017.4,42,38.2,200706.4,38,35.4
1998,149414.8,43,40.2,115586.2,37,35.4,92575.8,40,31.8,415490.2,...,39.4,141127.8,40,38.2,251017.4,42,38.2,200706.4,38,35.4
1999,149557.6,43,40.2,115656.4,37,35.4,92647.8,40,31.8,415966.0,...,39.4,141283.6,40,38.2,251255.2,42,38.2,200846.8,38,35.4

In [75]:
S1_S1_payoffs = calculate_payoffs(S1_S1)
print(S1_S1_payoffs)

(163899.25, 218438.2)

In [76]:
calculate_avg(S1_S1)

,[ cumulative-profit ] of retailer 0,[ cumulative-profit ] of retailer 0.1,[ cumulative-profit ] of retailer 0.2,[ cumulative-profit ] of retailer 0.3
0,0.0,0.0,0.0,0.0
1,306.0,198.0,264.0,324.0
2,306.0,198.0,264.0,324.0
3,343.2,302.4,301.2,448.0
4,361.8,389.4,350.8,553.4
...,...,...,...,...
1995,149210.8,92503.8,161675.8,250673.0
1996,149323.0,92543.4,161798.0,250779.6
1997,149414.8,92575.8,161892.0,251017.4
1998,149414.8,92575.8,161892.0,251017.4
1999,149557.6,92647.8,162136.4,251255.2

AVG Cumulative Profit of retailer 0: 163899.25000002145

,[ cumulative-profit ] of retailer 1,[ cumulative-profit ] of retailer 1.1,[ cumulative-profit ] of retailer 1.2,[ cumulative-profit ] of retailer 1.3
0,0.0,0.0,0.0,0.0
1,348.0,564.0,432.0,312.0
2,348.0,564.0,432.0,312.0
3,383.4,795.8,455.6,430.0
4,418.8,1125.2,479.2,524.4
...,...,...,...,...
1995,115489.0,415014.4,140972.0,200501.2
1996,115532.2,415258.4,141037.6,200566.0
1997,115586.2,415490.2,141127.8,200706.4
1998,115586.2,415490.2,141127.8,200706.4
1999,115656.4,415966.0,141283.6,200846.8

AVG Cumulative Profit of retailer 1: 218438.2000000314